[submodule "Gonk/vendor/spdlog"]
	path = Gonk/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Gonk/vendor/GLFW"]
	path = Gonk/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Gonk/vendor/imgui"]
	path = Gonk/vendor/imgui
	url = https://github.com/ocornut/imgui
